<header>
	<a class="header-logo" href="/">
		<div class="logo">
			<img src="/images/logo.svg" alt="Guitar Hub Logo">
			<h1>Guitar Hub</h1>
		</div>
	</a>
	<nav>
		<a class="nav-link" href="/">Home</a>
		<a class="nav-link" href="/guitars">View Inventory</a>
		<a class="nav-link" href="/guitars/new">Add New Guitar</a>
	</nav>
</header>
