<div class="error-content">
	<h1>404 - Not Found</h1>
	<img src="/images/404.svg" alt="404 Error Image">
	<h2>The page you're looking for doesn't exist.</h2>
	<a class="btn" href="/">Return Home</a>
</div>
