<div class="error-content">
	<h1>500 - Something Went Wrong</h1>
	<img src="/images/500.svg" alt="500 Error Image">
	<h2>Sorry, an unexpected error occurred. Please try again later.</h2>
	<a class="btn" href="/">Return Home</a>
</div>
